<h1>This is the homepage</h1> 
<p>Explanations of what this web site or app does would go here.</p>
<p>Perhaps pleasant images would act as links to other pages</p><br>
<a href="/images">
  <img src="http://obeyproximity.com/wp-content/uploads/2015/11/gallery.jpg" alt="gallery" style="width:320px;height:240px;"><br>
</a><a href="/links">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/88/5d/21/885d212bedbb2bb0b5e18fe9cad63b13.jpg" alt="links" style="width:320px;height:240px;">
</a>
