<h1>This is the links page</h1>
<p>Here there would be html links to other web sites</p>
<p>They may be similar the current web site or not</p>
<p>I find it preferable that they open in a new tab</p>

<a href="http://www.rainymood.com/" target="_blank">Rainymood</a>
<br>
<br>
<a href="http://www.vectorpark.com" target="_blank">Vector Park</a>
<br>
<br>
<a href="http://www.xkcd.com" target="_blank">xkcd</a>
<br>
<br>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Cute Kittens</a>
