<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">This takes you back to the home page</a><br>
<a href="/images">Gallery</a><br>
<a href="/about">About</a><br>
<a href="/links">Links</a>

<%= yield %>

</body>
</html>
